{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "usePrettierrc": true
      }
    ],
    "react/react-in-jsx-scope": "error",
    "comma-dangle": "error",
    "use-isnan": ["error", { "enforceForSwitchCase": true }],
    "react/void-dom-elements-no-children": "error",
    "react/no-unsafe": "error",
    "react/no-unused-state": "warn",
    "react/prefer-stateless-function": "error",
    "react/self-closing-comp": "error",
    "react/no-will-update-set-state": "error",
    "react/no-this-in-sfc": "error",
    "react/no-string-refs": "error",
    "react/no-redundant-should-component-update": "error",
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": ["error", { "maximum": 7 }],
    "react/jsx-max-depth": ["error", { "max": 8 }],
    "arrow-body-style": ["error", "as-needed"],
    "dot-notation": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "valid-typeof": "error",
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "private-static-field",
          "protected-static-field",
          "public-static-field",
          "private-static-method",
          "protected-static-method",
          "public-static-method",
          "private-constructor",
          "protected-constructor",
          "public-constructor",
          "private-instance-field",
          "protected-instance-field",
          "public-instance-field",
          "private-instance-method",
          "protected-instance-method",
          "public-instance-method"
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
